section{
    display: grid;
    gap: 20px;
}

#appliances h2{
    grid-column: 1 / span 2;
}

#appliances{
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    min-height: 600px;
}

#appliances article a{
    text-decoration: none;
    height: 150px;
    padding: 10px;
    background-color: var(--grisOscuro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s;
}

#appliances article a:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 5px 1px black;
    transition: all 0.2s;
}

#appliances article a span{
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

#appliances article img{
    max-height: 150px;
}

@media (max-width: 1200px) {
    #appliances{
        grid-template-columns: 1fr;
    }
}