h1{
    padding: 20px;
}

#products{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#products article{
    display: flex;
    background-color: var(--grisClaro);
    border: var(--grisOscuro) solid 1px;
    justify-content: space-between;
}

#products article div{
    display: flex;
    align-items: center;
    gap: 40px;
}

#products article span{
    font-size: 20px;
}

#products article div:last-child{
    padding: 10px;
}

#products article img{
    max-width: 200px;
    width: 50%;
}

main{
    max-width: var(--anchoMax);
    min-width: var(--anchoMin);
    margin: auto;
    padding: 0px;
}

#controls{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
@media (max-width: 1200px) {
    #products article div{ gap: 5px;}
}