
:root {
    --ancho: 60vw;
    --anchoMax: 1200px;
    --anchoMin: 400px;
    --grisOscuro: #393E46;
    --blanco: #FFFFFF;
    --grisClaro: #EEEEEE;
    --azul: #0071CE;
    --azulHover: #0b66b1;
    --azulNoteBg: #edf6ff;
    --negroAzulado: #222831;
    --rojoWarning: #d93531;
    --rojoWarningHover: #bb3330;
    --rojoWarningBg: #ffeded;

}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Open-Sans, Arial, Helvetica, sans-serif;
    margin: 0px;
    display: grid;
    justify-content: center;
    align-content: flex-start;
    justify-items: center;
    align-items: stretch;
    grid-template-columns: 100%;

}
header {
    display: flex;
    justify-content: space-between;
    width: var(--ancho);
    max-width: var(--anchoMax);
    min-width: var(--anchoMin);
    margin: auto;
    height: 64px;
}

header form{
    background-color: var(--grisOscuro);
    border-radius: 100px;
    height: 30px;
    padding: 5px;
    width: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header form input{
    background-color: transparent;
    border: 0px;
    width: 100%;
    color: var(--grisClaro);
}
header form input:focus{
    background-color: transparent;
    border: 0px;
    outline: 0px;
}

header > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 10px;
}
header a {
    color: var(--grisClaro) !important;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s;
}
header a:hover {
    color: var(--azul);
    transition: all 0.3s;
}

#searchButton {
    background-color: transparent;
    border: none;
}
#searchButton img{
    width: 20px;
}
.pfpImage {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.blackBg {
    background-color: var(--negroAzulado);
    width: 100vw;
}
main {
    margin: 0px;
    width: 100vw;
    background-color: var(--blancodis);
}
section,
footer {
    max-width: var(--anchoMax);
    min-width: var(--anchoMin);
    margin: auto;
    padding: 20px;
}
.blueButton{
    cursor: pointer;
    background-color: var(--azul);
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}
.blueButton:hover{
    background-color: var(--azulHover);
    transition: all 0.2s;
}
p{
    font-size: 20px;
}

h2{
    color: var(--negroAzulado);
}

.partDisplay a{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 600px;
    text-decoration: none;
    transition: all 0.2s;
    justify-content: space-around;
}
.partDisplay a:hover{
    box-shadow: 3px 3px 10px 1px var(--grisOscuro);
    transition: all 0.2s;
}
h3{
    color: var(--negroAzulado);
}
.partDisplay p{
    color: var(--grisOscuro);
}
.partDisplay span{
    color: var(--azul);
}
.partDisplay img{
    width: 100%;
    min-width: 235px;
    max-width: 300px;
}

.greyBg {
    background-color: var(--grisClaro);
    width: 100vw;
}

footer {
    min-height: 300px;
    display: grid;
    grid-template-rows: 1fr 65px;
}

#footerContact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footerContact div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#footerContact div span{
    font-weight: bold;
    text-align: right;
}

#footerContact div span:last-child{
    color: var(--azul);
}

footer>div {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#footerRedes {
    width: 180px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#footerRedes a img {
    position: absolute;
    transition: all 0.5s;
}

#footerRedes a {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid var(--grisOscuro);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#footerRedes a:hover {
    background-color: var(--azul);
    border-radius: 100px;
    transition: all 0.5s;
}

#legal {
    border-top: 1px solid var(--grisOscuro);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

#legal a {
    text-decoration: none;
    font-size: 14px;
    color: var(--grisOscuro);
    transition: all 0.3s;
}
#legal a:hover {
    color: var(--azul);
    transition: all 0.3s;
}

.appliance a, .guide a{
    text-decoration: none;
    height: 150px;
    padding: 10px;
    background-color: var(--grisOscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s;
}

.appliance a:hover, .guide a:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 5px 1px black;
    transition: all 0.2s;
}

.appliance a span, .guide a span{
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

.appliance img, .guide img{
    max-height: 150px;
    width: 25%;
}

main{
    min-height: 675px;
}
select, main input:not(input[type="file"]), textarea{
    padding: 5px;
    border-radius: 5px;
    border: var(--azul) solid 3px;
}
textarea{
    resize: none;
}

main input[type="number"]{
    width: 75px;
}
form img{
    max-width: 400px;
    width: 100%;
}
.goog-te-gadget{
    display: flex;
    flex-direction: column;
}
.goog-te-gadget{
    color: var(--grisClaro) !important;
}
.note{
    background-color: var(--azulNoteBg);
    padding: 25px;
    border: var(--azul) solid 2px;
    border-radius: 10px;
}

.note span{
    color: var(--azul);
}

.warning{
    background-color: var(--rojoWarningBg);
    padding: 25px;
    border: var(--rojoWarning) solid 2px;
    border-radius: 10px;
}

.warning span{
    color: var(--rojoWarning);
}

.eraseButton{
    background-color: var(--rojoWarning);
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: larger;
    padding: 7px;
    border-radius: 100px;
    cursor:pointer;
    transition: all 0.3s;
}
.eraseButton:hover{
    background-color: var(--rojoWarningHover);
    transition: all 0.3s;
}
.blueButton:disabled{
    background-color: var(--rojoWarningHover);
}
.hidden{
    display: none;
}

.title {
    font-weight: bold;
    font-size: 20px;
}   