#presentationDiv{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

#presentationDiv img{
    width: 100%;
    max-width: 500px;
}

#guideInfo{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#duration{
    padding: 10px;
    background-color: var(--grisClaro);
    border: 1px solid var(--grisOscuro);
    border-radius: 5px;
}

.difficulty{
    padding: 10px;
    border-radius: 5px;
}

.medium{
    background-color: #fef3c7;
    color: #b45309;
    border: 1px solid #b45309;
}
#intro{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#steps article div:last-child{
    display: flex;
    justify-content: space-between;
}

#steps article img{
    max-width: 500px;
    width: 100%;
}

#steps h2{
    border-bottom: 1px solid var(--grisOscuro);
}

#steps article ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}
#steps article ul li{
    font-size: 20px;
}
.advice{
    color: var(--azul);
    font-weight: 600;
}
.warning{
    color: var(--rojoWarning);
    font-weight: bold;
}

@media (max-width: 1200px) {
    #steps article div:last-child{
        flex-direction: column;
        align-items: center;
    }
}