#guides h1{
    grid-column: 1 / span 3;
}
#guides{
    display: grid;
    gap: 15px;
    grid-template-rows: 60px repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    min-height: 600px;
}