.instruction{
    width: 300px;
}
main form{
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 80%;
}
main form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
#title{
    width: 300px;
}
.step >div:last-child{
    display: flex;
    flex-direction: row;
}
.stepInstruction, .stepInstruction div{
    background-color: var(--grisClaro);
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.step div div > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.step >div:last-child{
    border-top: 1px solid var(--grisOscuro);
    padding-top: 10px;
}
#commands{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.step .eraseButton{
    position: absolute;
    top: 0px;
    right: 0px;
}
.step {
    position: relative;
    gap: 20px;
}