main form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    align-items: center;
    gap: 20px;
    min-width: 480px;
    background-color: var(--grisClaro);
    padding: 20px;
    border-radius: 20px;
}
main form div {
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
.blueButton{
    align-self: center;
}
.error{
    color: var(--rojoWarning);
    font-weight: bold;
}