main form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    align-items: flex-start;
    gap: 20px;
    min-width: 440px;
}
h1{
    text-align: center;
}
.blueButton{
    align-self: center;
}
.error{
    color: var(--rojoWarning);
    font-weight: bold;
}