.rating {
    display: flex;
    padding: 0;
    margin: 0;
}

.rating li {
    list-style-type: none;
}

.rating-item {
    border: 1px solid white;
    cursor: pointer;
    font-size: 2em;
    color: var(--azul);
}

.rating-item::before {
    content: "\2605";
}

.rating-item.active~.rating-item::before {
    content: "\2606";
}

.rating:hover .rating-item::before {
    content: "\2605";
}

.rating-item:hover ~ .rating-item::before {
    content: "\2606";
}

main {
    max-width: var(--anchoMax);
    min-width: var(--anchoMin);
    margin: auto;
    padding: 20px;
}

main form div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
h1{
    text-align: center;
}