main{
    display: grid;
    grid-template-columns: 4fr 2fr;
    max-width: var(--anchoMax);
    min-width: var(--anchoMin);
    margin: auto;
    padding: 20px;
}
#orders{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#orders article div div{
    display: flex;
    align-items: center;
    background-color: var(--grisClaro);
    border: var(--grisOscuro) solid 1px;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
}

#orders article > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#orders article img{
    max-width: 200px;
    width: 50%;
}

#pfp{
    width: 128px;
    height: 128px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}
aside span:not(#nameUser){
    font-weight: bold;
}
aside div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
#guidesSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1200px) {
    main{
        grid-template-columns: 1fr;
        padding-left: 0px;
    }
    aside{
        grid-row: 1;
    }
    aside div{
        align-items: center;
    }
}